// Base
//

//
// Mixins
//

@import '../../scss/breakpoints';
@import '../../scss/mixin';





/* list */
.list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1800px;
    margin-left: -1rem;
    margin-right:-1rem;


}
  