// Base
//


//
// Mixins
//

@import '../../scss/breakpoints';
@import '../../scss/mixin';



.iframebx{
  position: relative;
  width:100%;
  padding-top: 56.25%;

  iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
  }

}


.desbx{
  padding:1.5rem;
  word-break: break-all;
  .title{
    font-size: 1.3rem;
    font-weight: 500;
    color:#000;

    @include size(md){
      font-size: 1.1rem;
    }
  }

  .channel_name{
    font-size: 1.2rem;
    a{
      font-weight: 500;
      color:#000;
    }

    @include size(md){
      font-size: 1.0rem;
    }
  }
  .des{
    margin-top: 1.5rem;
    white-space: pre-wrap;
  }
}


.name_span{
  margin-left:0.3rem;
}